html, body {width: 100%; background-color: #777}

#main_container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px
}

#container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #f99;
}

p {font-size: 3em}
.font-size-medium {font-size: large;}

.inl-bl {display: inline-block;}